# work-specific
alias dev="just dev-start-web"
alias integration="just dev-start-integration"
alias types="turbo generate-types"
alias typecheck="turbo typecheck"
alias typecheck-web="turbo typecheck -F web-client"
alias make-types="just generate-types"
alias story="just dev-storybook"
alias test="just unit-test"
